backend/target
backend/.idea
backend/src/main/resources/keystore.p12
backend/src/main/java/com/UoB/AILearningTool/OpenAIAuthenticator.java
backend/database.db
backend/src/main/resources/static/*

frontend/dist
frontend/node_modules
frontend/src/assets/globalConstants.js

.idea
.env
keystore.p12
target

